In [28]:
from pprint import pprint
#แค่ให้ Output มันสวย

## Parse csv

ทำข้อมูลให้อยู่ในรูปแบบ  dictionary

```
{'pf4unt4gz1T3NV1j7f7y': {'tvshow': 77,'supachalasai': 350,'sinthorn': 151,'social': 665,'food': 101,
                        'blueplanet': 1059,'bangrak': 1249,'siam': 1179,'ratchada': 654,'isolate': 1018,'silom': 132,'home': 170,
                        'lumpini': 522,'wahkor': 71,'beauty': 106,'library': 63,'chalermthai': 31,'korea': 11,'mbk': 40,
                        'family': 142,'chalermkrung': 18,'klaibann': 29,'siliconvalley': 70,'region': 744,'cartoon': 11,
                        'jatujak': 70,'rajdumnern': 326,'horoscope': 84,'religious': 42,'gallery': 82,'theoldsiam': 91,
                        'camera': 54,'gadget': 63,'greenzone': 29,'art': 8,'writer': 0,'pantip': 14},
                        
 'p8lia9fzsE2mOvfbDUI': {'tvshow': 29,'supachalasai': 155,'sinthorn': 249,'social': 596,'food': 41,
                        'blueplanet': 440,'bangrak': 120,'siam': 206,'ratchada': 2695,'isolate': 1,'silom': 122,'home': 74,
                        'lumpini': 1169,'wahkor': 87,'beauty': 172,'library': 51,'chalermthai': 9,'korea': 8,'mbk': 1288,
                        'family': 75,'chalermkrung': 19,'klaibann': 31,'siliconvalley': 216,'region': 285,'cartoon': 4,
                        'jatujak': 18,'rajdumnern': 1069,'horoscope': 18,'religious': 15,'gallery': 21,'theoldsiam': 60,
                        'camera': 38,'gadget': 94,'greenzone': 14,'art': 7,'writer': 0,'pantip': 5},
  ...
```

มี key เป็น uid และมี value เป็น dictionary ของจำนวนการอ่านในแต่ละห้อง

### อ่านไฟล์

In [2]:
with open(input('File name: ')) as file:
    file_text = file.read()

file_text[:1000]

'tvshow,supachalasai,sinthorn,social,food,blueplanet,bangrak,siam,ratchada,isolate,silom,home,lumpini,wahkor,beauty,library,chalermthai,korea,mbk,family,chalermkrung,klaibann,siliconvalley,region,cartoon,jatujak,rajdumnern,horoscope,religious,gallery,theoldsiam,camera,gadget,greenzone,art,writer,pantip,uid\n77,350,151,665,101,1059,1249,1179,654,1018,132,170,522,71,106,63,31,11,40,142,18,29,70,744,11,70,326,84,42,82,91,54,63,29,8,0,14,pf4unt4gz1T3NV1j7f7y\n29,155,249,596,41,440,120,206,2695,1,122,74,1169,87,172,51,9,8,1288,75,19,31,216,285,4,18,1069,18,15,21,60,38,94,14,7,0,5,p8lia9fzsE2mOvfbDUI\n93,60,151,500,1246,1895,1884,905,364,119,199,163,304,99,140,73,23,100,37,140,45,207,29,405,16,61,6,22,28,36,44,25,13,36,11,4,4,opds77wgb22Jkw2tICy\n194,35,142,313,1013,279,32,123,104,16,110,141,176,1250,60,447,493,1665,73,36,225,70,161,143,898,80,862,57,40,52,23,15,49,48,34,8,16,pg2fnj3jo8dmdEiZkx3\n4512,145,204,316,158,119,169,162,115,488,224,152,206,270,117,353,305,113,82,112,246,104,93,82,66,72,21'

### split ออกมาแต่ละบรรทัด

ใส่ไว้ในตัวแปร lines

In [3]:
lines = file_text.splitlines()

lines[:4]

['tvshow,supachalasai,sinthorn,social,food,blueplanet,bangrak,siam,ratchada,isolate,silom,home,lumpini,wahkor,beauty,library,chalermthai,korea,mbk,family,chalermkrung,klaibann,siliconvalley,region,cartoon,jatujak,rajdumnern,horoscope,religious,gallery,theoldsiam,camera,gadget,greenzone,art,writer,pantip,uid',
 '77,350,151,665,101,1059,1249,1179,654,1018,132,170,522,71,106,63,31,11,40,142,18,29,70,744,11,70,326,84,42,82,91,54,63,29,8,0,14,pf4unt4gz1T3NV1j7f7y',
 '29,155,249,596,41,440,120,206,2695,1,122,74,1169,87,172,51,9,8,1288,75,19,31,216,285,4,18,1069,18,15,21,60,38,94,14,7,0,5,p8lia9fzsE2mOvfbDUI',
 '93,60,151,500,1246,1895,1884,905,364,119,199,163,304,99,140,73,23,100,37,140,45,207,29,405,16,61,6,22,28,36,44,25,13,36,11,4,4,opds77wgb22Jkw2tICy']

### เอาเฉพาะส่วนที่เป็นชื่อ column (บรรทัดแรกของ csv) มา ใส่ไว้ใน columns

In [4]:
columns = lines.pop(0).split(',')

columns[:4]

['tvshow', 'supachalasai', 'sinthorn', 'social']

#### ทีนี้ในตัวแปรชื่อ lines จะเหลือแค่ส่วนที่เป็นข้อมูล เพราะส่วนชื่อ column ถูก pop ออกไปแล้ว

In [5]:
lines[:5]

['77,350,151,665,101,1059,1249,1179,654,1018,132,170,522,71,106,63,31,11,40,142,18,29,70,744,11,70,326,84,42,82,91,54,63,29,8,0,14,pf4unt4gz1T3NV1j7f7y',
 '29,155,249,596,41,440,120,206,2695,1,122,74,1169,87,172,51,9,8,1288,75,19,31,216,285,4,18,1069,18,15,21,60,38,94,14,7,0,5,p8lia9fzsE2mOvfbDUI',
 '93,60,151,500,1246,1895,1884,905,364,119,199,163,304,99,140,73,23,100,37,140,45,207,29,405,16,61,6,22,28,36,44,25,13,36,11,4,4,opds77wgb22Jkw2tICy',
 '194,35,142,313,1013,279,32,123,104,16,110,141,176,1250,60,447,493,1665,73,36,225,70,161,143,898,80,862,57,40,52,23,15,49,48,34,8,16,pg2fnj3jo8dmdEiZkx3',
 '4512,145,204,316,158,119,169,162,115,488,224,152,206,270,117,353,305,113,82,112,246,104,93,82,66,72,21,52,37,24,56,28,27,74,39,18,119,oiiu4v8hkFKpqfr3Qho']

### pop ชื่อ columnตัวสุดท้ายออก (เพราะเป็น uid)

In [30]:
columns.pop(-1)

pprint(columns,compact=True)

['tvshow', 'supachalasai', 'sinthorn', 'social', 'food', 'blueplanet',
 'bangrak', 'siam', 'ratchada', 'isolate', 'silom', 'home', 'lumpini', 'wahkor',
 'beauty', 'library', 'chalermthai', 'korea', 'mbk', 'family', 'chalermkrung',
 'klaibann', 'siliconvalley', 'region', 'cartoon', 'jatujak', 'rajdumnern',
 'horoscope', 'religious', 'gallery', 'theoldsiam', 'camera', 'gadget',
 'greenzone', 'art']

### split แต่ละ row ด้วย **,** และใส่เข้าตัวแปรชื่อ rows

In [36]:
rows = [line.split(',') for line in lines]

pprint(rows[:2],compact=True)

[['77', '350', '151', '665', '101', '1059', '1249', '1179', '654', '1018',
  '132', '170', '522', '71', '106', '63', '31', '11', '40', '142', '18', '29',
  '70', '744', '11', '70', '326', '84', '42', '82', '91', '54', '63', '29', '8',
  '0', '14', 'pf4unt4gz1T3NV1j7f7y'],
 ['29', '155', '249', '596', '41', '440', '120', '206', '2695', '1', '122',
  '74', '1169', '87', '172', '51', '9', '8', '1288', '75', '19', '31', '216',
  '285', '4', '18', '1069', '18', '15', '21', '60', '38', '94', '14', '7', '0',
  '5', 'p8lia9fzsE2mOvfbDUI']]

### เอาส่วนที่เป็น uid ออกมาเก็บไว้ใน keys

In [8]:
keys = [row.pop(-1) for row in rows]

### แปลงค่าแต่ละตัวใน rows ให้เป็น int

In [9]:
rows = [tuple(map(int, row)) for row in rows]

### นำ keys และ rows มาต่อกัน ใส่ไว้ใน dictionary ชื่อว่า data

In [10]:
data = {}
for key, row  in zip(keys,rows):
        
    data.update({key:dict(zip(columns,row))})

## 1. ข้อมูลมีทั้งหมดกี่บรรทัด (รวมheader)

In [11]:
len(data) + 1 
# + 1 เพราะ lines.pop(0) ไปแล้ว

9901

## 2. ห้องไหนที่มีจำนวนการกดอ่านมากที่สุด

ต้อง Transpose เพื่อหา sum ของแต่ละ column

### Original
```

[tvshow,supachalasai,sinthorn,social]
[77,350,151,665]
[29,155,249,596]
[93,60,151,500]
...
```
### Transposed
```

tvshow [77, 29, 93, ...]
supachalasai [350, 115, 60, ...]
sinthorn [151, 249, 151, ...]
social [665, 596, 500, ...]
```

In [12]:
rows_T = tuple(zip(*rows))

data_T = tuple(zip(columns, rows_T))

### เราสามารถหา ค่าที่มากที่สุดได้ด้วยหลายวิธี เช่น

In [14]:
sum_cols = []
for column, values in data_T:
    sum_cols.append((column,sum(values)))
    
for column, sum_val in sum_cols:
    if sum_val == max([sum_col[1] for sum_col in sum_cols]):
        print(column)

tvshow

แต่มีวิธีที่ง่ายกว่านั้น คือการใช้ built_in_function ที่ชื่อว่า max ไปเลย

โดยจะใส่ฟังก์ชั่นที่จะ return ค่าที่เราจะใช้เปรียบเทียบ ไว้ใน argument ที่ชื่อว่า key 

เช่น

data_T เป็น tuple 2 มิติ มี column name อยู่ index ที่ 0 และมีจำนวนการอ่านอยู่ index ที่ 1
```
data_T = (('tvshow',(77,
                    29,
                    93,
                    194,
                    ...)),
                    
        ('supachalasai',(350,
                        155,
                        60,
                        35,
                        ...)),
        ...)
```

ทีนี้เราต้องการหา max ด้วย sum ของ data_T index ที่ 1

In [15]:
def sum_val(items):
    return sum(items[1])

In [27]:
max(data_T, key= sum_val)[0]

'tvshow'

หรือ

In [17]:
max(data_T, key= lambda items: sum(items[1]))[0]

'tvshow'

##  3. ห้อง blueplanet มีการกดอ่านมากสุด3อันดับแรก เป็นจำนวนกี่ครั้ง

In [42]:
data_order_by_blueplanet_desc = sorted(data.values(), key= lambda items: items['blueplanet'], reverse= True)

data_order_by_blueplanet_desc[0]

{'tvshow': 54,
 'supachalasai': 101,
 'sinthorn': 77,
 'social': 153,
 'food': 113,
 'blueplanet': 3449,
 'bangrak': 68,
 'siam': 137,
 'ratchada': 298,
 'isolate': 59,
 'silom': 80,
 'home': 34,
 'lumpini': 45,
 'wahkor': 70,
 'beauty': 52,
 'library': 117,
 'chalermthai': 42,
 'korea': 115,
 'mbk': 22,
 'family': 19,
 'chalermkrung': 9,
 'klaibann': 982,
 'siliconvalley': 12,
 'region': 407,
 'cartoon': 4,
 'jatujak': 17,
 'rajdumnern': 5,
 'horoscope': 8,
 'religious': 13,
 'gallery': 39,
 'theoldsiam': 43,
 'camera': 24,
 'gadget': 3,
 'greenzone': 5,
 'art': 7,
 'writer': 0,
 'pantip': 2}

In [19]:
highest_blueplanet_3 = [str(row['blueplanet']) for row in data_order_by_blueplanet_desc][:3]

' '.join(highest_blueplanet_3)

'3449 3160 2999'

## 4. user ไหนมีจำนวนการอ่านรวมทุกห้องมากที่สุด จำนวนกี่ครั้ง

In [20]:
max(data.items(), key= lambda items: sum(items[1].values()))[0]

'pf4unt4gz1T3NV1j7f7y'

## 5. user ไหนอ่านห้อง tvshow มากที่สุด เป็นจำนวนกี่ครั้ง

In [21]:
max(data.items(), key= lambda items: items[1]['tvshow'])[0]

'p3tlfimrqyaqg4PCxwT'

## 6. ห้อง korea มี user ที่กดอ่านมากกว่า 500 กระทู้ทั้งหมดกี่คน

In [22]:
sum(map(lambda val: val['korea']>500, data.values()))

287

## 7. มี user ที่่อ่านห้อง siam มากกว่า food กี่คน

In [23]:
sum(map(lambda val: val['siam']>val['food'], data.values()))

4959

## 8. user ไหนมีสัดส่วนการอ่านในห้อง rajdumnern มากที่สุด

In [24]:
max(data.items(), key= lambda items: items[1]['rajdumnern']/sum(items[1].values()))[0]

'osx28zi68qruN87x5ND'

## 9. user ที่มีสัดส่วนการอ่านใน 2 ห้อง มากกว่า 70% มีทั้งหมดกี่คน

In [25]:
sum(map(lambda val: sum(sorted(val.values(), reverse=True)[:2])/sum(val.values()) > 0.7, data.values()))

1422

## 10. user ที่ไม่อ่านห้อง pantip มีทั้งหมดกี่คน

In [26]:
sum(map(lambda val: val['pantip']==0, data.values()))

4494