## ขี้เกียจเขียน ดู data เอาเอง

# blackfriday.csv

|   User_ID | Product_ID   | Gender   | Age   |   Occupation | City_Category   |   Stay_In_Current_City_Years |   Marital_Status |   Product_Category_1 |   Product_Category_2 |   Product_Category_3 |   Purchase |
|----------:|:-------------|:---------|:------|-------------:|:----------------|-----------------------------:|-----------------:|---------------------:|---------------------:|---------------------:|-----------:|
|   1003896 | P00125942    | M        | 36-45 |            0 | B               |                            2 |                0 |                    1 |                    2 |                   15 |      15404 |
|   1003057 | P00157542    | F        | 26-35 |           12 | B               |                            1 |                0 |                    8 |                   14 |                  nan |       7896 |
|   1003491 | P00280842    | M        | 26-35 |           16 | B               |                            1 |                0 |                    1 |                    8 |                  nan |      15598 |
|   1005950 | P00196442    | M        | 26-35 |            4 | B               |                            2 |                1 |                    5 |                  nan |                  nan |       3668 |
|   1005162 | P00274942    | M        | 26-35 |           17 | A               |                            1 |                1 |                    8 |                  nan |                  nan |       7766 |

# *...*

## Preprocess

## 1. 
ใน dataset มีการเก็บรายการใช้จ่ายของ User เป็นจำนวนทั้งหมดกี่คน

```
5891 คน
```

5891 คน

## 2.

ผู้ที่มาซื้อเป็นเพศชาย (M) ทั้งหมดกี่คน และเป็นเพศหญิง (F) ทั้งหมดกี่คน

```
ชาย 414259 คน
หญิง 135809 คน
```

ชาย 414259 คน
หญิง 135809 คน

## 3.
พิจารณาเฉพาะผู้ซื้อที่เป็นเพศ**หญิง** ค่าเฉลี่ยของการใช้จ่ายรวม (Sum of Purchase) ต่อผู้ซื้อหนึ่งคนเป็นจำนวนเท่าไร

```
712024.39...
```

8734.565765155476

## 4.

4.1) จงแสดงว่าในแต่ละ transaction, สินค้าแต่ละหมายเลขในตัวแปร Product_Category_1 มีอัตราส่วนการซื้อเป็นอย่างไร

เรียงตาม Product_Category_1

```
1 25.52
2 4.34
3 3.67
4 2.14
5 27.44
6 3.72
7 0.68
8 20.71
9 0.07
10 0.93
11 4.42
12 0.72
13 1.01
14 0.28
15 1.14
16 1.79
17 0.11
18 0.57
19 0.29
20 0.46
```

1    25.52
2    4.34
3    3.67
4    2.14
5    27.44
6    3.72
7    0.68
8    20.71
9    0.07
10   0.93
11   4.42
12   0.72
13   1.01
14   0.28
15   1.14
16   1.79
17   0.11
18   0.57
19   0.29
20   0.46

4.2) ให้ระบุหมายเลขสินค้าที่มีอัตราส่วนการซื้อมากที่สุด 3 ลำดับแรก

```
5 27.44
1 25.52
8 20.71
```

5    27.44
1    25.52
8    20.71

## 5. 
จากข้อ 4.2) ปริมาณการซื้อสินค้าทั้ง 3 อันดับแรกรวมกัน
คิดเป็นอัตราส่วนกี่เปอร์เซ็นต์ของปริมาณการซื้อสินค้าทั้งหมด

```
73.67 %

73.67016441603585