In [5]:
import pandas as pd

f = pd.read_csv(r'amazon-orders.txt', header = 3)
f.to_csv(r'amazon-orders.csv',index = None)

In [6]:
df = pd.read_csv('amazon-orders.csv')

def remove_dollar(series):
    series = series.replace({r'\$':''}, regex = True).astype('float')
    return series

df_chargedday = df[['Order Date', 'Total Charged']]
df_chargedday['Total Charged'] = remove_dollar(df_chargedday['Total Charged'])

df_gb_chargedday = df_chargedday.groupby('Order Date').sum()
df_gb_chargedday

<ipython-input-6-b20b0a36b39d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chargedday['Total Charged'] = remove_dollar(df_chargedday['Total Charged'])

            Total Charged
Order Date
04/01/19            63.91
04/04/19           156.12
04/05/19            27.64
04/07/19            40.63
04/08/19            44.99
04/20/19            28.80
04/23/19            37.08
05/05/19            12.99
05/06/19             7.60
05/10/19            27.99
05/14/19            16.16
05/18/19            10.50
05/19/19            38.89
05/21/19            30.42
05/22/19            62.74
05/24/19             7.67
05/25/19             9.80
05/28/19            13.95
05/29/19             9.99
05/30/19            45.38
06/03/19            42.87
06/05/19            12.26
06/18/19            12.64
06/25/19            62.58
07/03/19            69.57
07/06/19           447.36
07/07/19            41.97
07/09/19            16.46
07/17/19            38.50
07/18/19           145.88
07/21/19            12.61
07/23/19            45.29
07/30/19            42.33
07/31/19            94.16

In [7]:
df_promoday = df[['Order Date', 'Total Promotions']]
df_promoday['Total Promotions'] = remove_dollar(df_promoday['Total Promotions'])

df_gb_promoday = df_promoday.groupby('Order Date').sum()
max_promodate = df_gb_promoday.loc[(df_gb_promoday['Total Promotions'] == df_gb_promoday['Total Promotions'].max())].reset_index()

<ipython-input-7-e68d53e27bdb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_promoday['Total Promotions'] = remove_dollar(df_promoday['Total Promotions'])

In [8]:
print('Payment per day\n', df_gb_chargedday.reset_index())

Payment per day
    Order Date  Total Charged
0    04/01/19          63.91
1    04/04/19         156.12
2    04/05/19          27.64
3    04/07/19          40.63
4    04/08/19          44.99
5    04/20/19          28.80
6    04/23/19          37.08
7    05/05/19          12.99
8    05/06/19           7.60
9    05/10/19          27.99
10   05/14/19          16.16
11   05/18/19          10.50
12   05/19/19          38.89
13   05/21/19          30.42
14   05/22/19          62.74
15   05/24/19           7.67
16   05/25/19           9.80
17   05/28/19          13.95
18   05/29/19           9.99
19   05/30/19          45.38
20   06/03/19          42.87
21   06/05/19          12.26
22   06/18/19          12.64
23   06/25/19          62.58
24   07/03/19          69.57
25   07/06/19         447.36
26   07/07/19          41.97
27   07/09/19          16.46
28   07/17/19          38.50
29   07/18/19         145.88
30   07/21/19          12.61
31   07/23/19          45.29
32   07/30/19          42.33
33   07/31/19          94.16

In [9]:
print('Most total promotion you got is on', max_promodate['Order Date'][0], '({})'.format(int(max_promodate['Total Promotions'][0])))

Most total promotion you got is on 07/30/19 (20)