In [1]:
from pprint import pp

# 1. Counter w/ dict and loops

In [3]:
dick =  {}
kuay = "golfauukhangauumuangikkyupgolfnathtuangduenwinkarnfueang"

## 1.1 นับจำนวนตัวอักษรที่มีอยู่ใน **kuay** และเก็บจำนวนของแต่ละตัวอักษรเข้า Dictionary ที่ชื่อว่า **dick**
Hint: for loop 

## ถ้าใช้ collections.Counter() ผมจะฆ่าคุณ

In [4]:
#Your code here

In [178]:
pp(dick)

{'g': 6,
 'o': 2,
 'l': 2,
 'f': 3,
 'a': 8,
 'u': 9,
 'k': 4,
 'h': 2,
 'n': 8,
 'm': 1,
 'i': 2,
 'y': 1,
 'p': 1,
 't': 2,
 'd': 1,
 'e': 2,
 'w': 1,
 'r': 1}

# 2 ลองใช้ dict.items()

In [6]:
data1 = [{'Years Experience': 10,
  'Employed?': 'Y',
  'Previous employers': 4,
  'Level of Education': 'BS',
  'Top-tier school': 'N',
  'Interned': 'N',
  'Hired': 'Y'},
 {'Years Experience': 0,
  'Employed?': 'N',
  'Previous employers': 0,
  'Level of Education': 'BS',
  'Top-tier school': 'Y',
  'Interned': 'Y',
  'Hired': 'Y'},
 {'Years Experience': 7,
  'Employed?': 'N',
  'Previous employers': 6,
  'Level of Education': 'BS',
  'Top-tier school': 'N',
  'Interned': 'N',
  'Hired': 'N'},
 {'Years Experience': 2,
  'Employed?': 'Y',
  'Previous employers': 1,
  'Level of Education': 'MS',
  'Top-tier school': 'Y',
  'Interned': 'N',
  'Hired': 'Y'},
 {'Years Experience': 20,
  'Employed?': 'N',
  'Previous employers': 2,
  'Level of Education': 'PhD',
  'Top-tier school': 'Y',
  'Interned': 'N',
  'Hired': 'N'}]

In [8]:
print(type(data1))
pp(data1)

<class 'list'>
[{'Years Experience': 10,
  'Employed?': 'Y',
  'Previous employers': 4,
  'Level of Education': 'BS',
  'Top-tier school': 'N',
  'Interned': 'N',
  'Hired': 'Y'},
 {'Years Experience': 0,
  'Employed?': 'N',
  'Previous employers': 0,
  'Level of Education': 'BS',
  'Top-tier school': 'Y',
  'Interned': 'Y',
  'Hired': 'Y'},
 {'Years Experience': 7,
  'Employed?': 'N',
  'Previous employers': 6,
  'Level of Education': 'BS',
  'Top-tier school': 'N',
  'Interned': 'N',
  'Hired': 'N'},
 {'Years Experience': 2,
  'Employed?': 'Y',
  'Previous employers': 1,
  'Level of Education': 'MS',
  'Top-tier school': 'Y',
  'Interned': 'N',
  'Hired': 'Y'},
 {'Years Experience': 20,
  'Employed?': 'N',
  'Previous employers': 2,
  'Level of Education': 'PhD',
  'Top-tier school': 'Y',
  'Interned': 'N',
  'Hired': 'N'}]

## 2.1 สร้าง Function ชื่อว่า printRow (จะเปลี่ยนชื่อก็เชิญ) ให้ print ได้ออกมาตามข้างล่าง 
## **data1 เป็น list ของ dict**

Hint: for loop w/ dict.items()<br/>

--Row {i}--<br/>
###########<br/>
###########<br/>
###########<br/>
###DATA####<br/>
###########<br/>
###########<br/>
###########<br/>
--End of Row {i}--<br/>
<br/>

In [ ]:
a, b = (1, 2)

In [195]:
def printRow(data):
    #Your code here
    
    return None

In [196]:
printRow(data1)

--Row 0--
Years Experience 10
Employed? Y
Previous employers 4
Level of Education BS
Top-tier school N
Interned N
Hired Y
--End of Row 0--

--Row 1--
Years Experience 0
Employed? N
Previous employers 0
Level of Education BS
Top-tier school Y
Interned Y
Hired Y
--End of Row 1--

--Row 2--
Years Experience 7
Employed? N
Previous employers 6
Level of Education BS
Top-tier school N
Interned N
Hired N
--End of Row 2--

--Row 3--
Years Experience 2
Employed? Y
Previous employers 1
Level of Education MS
Top-tier school Y
Interned N
Hired Y
--End of Row 3--

--Row 4--
Years Experience 20
Employed? N
Previous employers 2
Level of Education PhD
Top-tier school Y
Interned N
Hired N
--End of Row 4--

# 3 setdefault(), update(), pop()

In [18]:
cpe35 = [{
    "name":"golf",
    "class":"slave",
    "characteristics":["horny"],
    "age":-69,
    "genderratio":{
        "male":0.8,
        "female":0.08,
        "LGBTQ++":0.12
    }
},
         {
    "name":"aauauu",
    "class":"king",
    "characteristics":["sleepy"],
    "age":99999,
    "genderratio":{
        "LGBTQ++":1
    },
    "disease":['ptsd','anxiety','ebola','stress']
},
         {
    "name":"ixq naa hee",
    "class":"heero",
    "characteristics":['sleepy','horny','workhard'],
    "age":0,
    "genderratio":{
        "LGBTQ++":1
    },
    "disease":["Chlamydia","Genital herpes","Gonorrhea","HIV/AIDS","HPV","Pubic lice","Syphilis","Trichomoniasis",'stress']

         }]

## 3.1 Function printDisease ให้ปริ้นแบยด้านล่างออกมา

หากมี Disease ให้ print {ชื่อ} have {list ของ disease}<br/>
หากไม่มี Disease(ไม่มี key ชื่อว่า disease) ให้ print {ชื่อ} doesn't have any disease
### ถ้าสังเกตดีดี golf จะไม่มี disease
Hint: ตัวแปร cpe35 เป็น list ที่เก็บ dict ของแต่ละคนไว้ และลองศึกษา dict.get()

In [31]:
for row in cpe35:
    if "disease" in row:
        print(f"{row['name']} have {row['disease']}")
    else: print(f"{row['name']} doesn't have any disease")

golf doesn't have any disease
aauauu have ['ptsd', 'anxiety', 'ebola', 'stress']
ixq naa hee have ['Chlamydia', 'Genital herpes', 'Gonorrhea', 'HIV/AIDS', 'HPV', 'Pubic lice', 'Syphilis', 'Trichomoniasis', 'stress']

In [205]:
printDisease(cpe35)

golf doesn't have any disease
aauauu have ['ptsd', 'anxiety', 'ebola', 'stress']
ixq naa hee have ['Chlamydia', 'Genital herpes', 'Gonorrhea', 'HIV/AIDS', 'HPV', 'Pubic lice', 'Syphilis', 'Trichomoniasis', 'stress']

## 3.2 เพิ่ม ['stress'] ให้กับคนที่ยังไม่มี Disease อย่างเช่นคุณ golf

Hint: ลองศึกษา dict.setdefault() หรือ หากต้องการใช้ if else ให้ลองศึกษา dict.get()

In [34]:
for row in cpe35:
    row.setdefault("disease",['stress'])

In [36]:
for row in cpe35:
    if "disease" in row:
        print(f"{row['name']} have {row['disease']}")
    else: print(f"{row['name']} doesn't have any disease")

golf have ['stress']
aauauu have ['ptsd', 'anxiety', 'ebola', 'stress']
ixq naa hee have ['Chlamydia', 'Genital herpes', 'Gonorrhea', 'HIV/AIDS', 'HPV', 'Pubic lice', 'Syphilis', 'Trichomoniasis', 'stress']

In [48]:
golfdata = {
    "name":"golf",
    "class":"slave",
    "characteristics":"horny",
    "age":"-69",
    "genderratio":{
        "male":0.8,
        "female":0.08,
        "LGBTQ++":0.12
    }
}

## 3.3 แก้ไข genderratio ของคุณ golf ใน  golfdata ให้เหลือแค่ "male":1 
จะใช้ dict[key] = {...} ก็ได้ แต่ผมอยากให้ใช้ pop กับ update อ่ะ

In [49]:
male = {"male":1}

In [50]:
#your code here
golfdata.update({"genderratio":{"male":1}})

In [51]:
golfdata

{'name': 'golf',
 'class': 'slave',
 'characteristics': 'horny',
 'age': '-69',
 'genderratio': {'male': 1}}

# 4 values()

In [52]:
data2 = {
 'announce_date': {0: '12/1/2020',1: '17/1/2020',2: '22/1/2020',3: '22/1/2020',4: '24/1/2020',5: '25/1/2020',6: '26/1/2020',7: '26/1/2020',8: '28/1/2020',9: '28/1/2020'},
 'sex': {0: 'หญิง',1: 'หญิง',2: 'หญิง',3: 'ชาย',4: 'หญิง',5: 'หญิง',6: 'หญิง',7: 'หญิง',8: 'ชาย',9: 'หญิง'},
 'age': {0: 61.0,1: 74.0,2: 73.0,3: 68.0,4: 66.0,5: 33.0,6: 57.0,7: 73.0,8: 63.0,9: 28.0},
 'nationality': {0: 'China',1: 'China',2: 'Thailand',3: 'China',4: 'China',5: 'China',6: 'China',7: 'China',8: 'China',9: 'China'},
 'province_of_isolation': {0: 'กรุงเทพมหานคร',1: 'กรุงเทพมหานคร',2: 'นครปฐม',3: 'กรุงเทพมหานคร',4: 'นนทบุรี',5: 'กรุงเทพมหานคร',6: 'กรุงเทพมหานคร',7: 'ประจวบคีรีขันธ์',8: 'กรุงเทพมหานคร',9: 'นนทบุรี'}}

In [214]:
# ลองเรียก dict.values() มาเล่นดู

data2['sex'].values()

dict_values(['หญิง', 'หญิง', 'หญิง', 'ชาย', 'หญิง', 'หญิง', 'หญิง', 'หญิง', 'ชาย', 'หญิง'])

## 4.1 ให้หาว่าคนไทยคนแรกที่อยู่ในชุดข้อมูล data2 อยู่จังหวัดอะไร

Hint: </br>
สัญชาติ = data2['nationality']</br>
จังหวัด = data2['province_of_isolation']

In [ ]:
{0: 'China',1: 'China',2: 'Thailand',3: 'China',4: 'China',5: 'China',6: 'China',7: 'China',8: 'China',9: 'China'}

In [150]:
print(firstThaiProvince(data2))

'นครปฐม'

## 4.2 หาค่าเฉลี่ยนของอายุทุกคนใน data2 
age -> data[age]

In [62]:
sum(data2['age'].values())/(len(data2['age']))

59.6

In [151]:
print(avAge(data2))

59.6

In [69]:
data2 = {
 'announce_date': {0: '12/1/2020',1: '17/1/2020',2: '22/1/2020',3: '22/1/2020',4: '24/1/2020',5: '25/1/2020',6: '26/1/2020',7: '26/1/2020',8: '28/1/2020',9: '28/1/2020'},
 'sex': {0: 'หญิง',1: 'หญิง',2: 'หญิง',3: 'ชาย',4: 'หญิง',5: 'หญิง',6: 'หญิง',7: 'หญิง',8: 'ชาย',9: 'หญิง'},
 'age': {0: 61.0,1: 74.0,2: 73.0,3: 68.0,4: 66.0,5: 33.0,6: 57.0,7: 73.0,8: 63.0,9: 28.0},
 'nationality': {0: 'China',1: 'China',2: 'Thailand',3: 'China',4: 'China',5: 'China',6: 'China',7: 'China',8: 'China',9: 'China'},
 'province_of_isolation': {0: 'กรุงเทพมหานคร',1: 'กรุงเทพมหานคร',2: 'นครปฐม',3: 'กรุงเทพมหานคร',4: 'นนทบุรี',5: 'กรุงเทพมหานคร',6: 'กรุงเทพมหานคร',7: 'ประจวบคีรีขันธ์',8: 'กรุงเทพมหานคร',9: 'นนทบุรี'}}


new_data2 = {
 'announce_date': {10: '28/1/2020'},
 'sex': {10: 'ชาย'},
 'age': {10: 36.0},
 'nationality': {10: 'Thailand'},
 'province_of_isolation': {10: 'กรุงเทพมหานคร'}}

## 4.3 นำ new_data2 มาเติมใน data2

In [71]:
for i in new_data2:
    data2[i].update(new_data2[i])

## 4.4 เปลี่ยนค่า ที่มี key = 8 ให้มี value ตามนี้

### sex = หญิง</br>
### nationality = Thailand

In [215]:
for column in data2:
    print(data2[column][8])

28/1/2020
ชาย
63.0
China
กรุงเทพมหานคร

In [74]:
# your code here
data2['sex'].update({8:"หญิง"})

In [75]:
for column in data2:
    print(data2[column][8])

28/1/2020
หญิง
63.0
China
กรุงเทพมหานคร